# Godot-specific ignores
.import/
export.cfg
export/

# Mono-specific ignores
.mono/
data_*/
mono_crash.*

# Python-specific ignores
.venv

# Emscripten-specific ignores
.emcache/

# IDE-specific ignores
.vscode
.vs

# Package-manager-specific ignores
.plugged
addons/*
!addons/gd-plug
!addons/godot_xterm

# Test-specific ignores
.gutconfig.json
test/results.xml
test/test_metadata.json

# GodotXterm-specific ignores
.gdxterm
docs/demo
docs/logs
