[submodule "addons/godot_xterm/native/thirdparty/godot-cpp"]
	path = addons/godot_xterm/native/thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "addons/godot_xterm/native/thirdparty/libuv"]
	path = addons/godot_xterm/native/thirdparty/libuv
	url = https://github.com/libuv/libuv
[submodule "addons/godot_xterm/native/thirdparty/libtsm"]
	path = addons/godot_xterm/native/thirdparty/libtsm
	url = https://github.com/lihop/libtsm
[submodule "misc/export_templates/godot"]
	path = misc/export_templates/godot
	url = https://github.com/godotengine/godot
