# Properly detect languages on Github.
*.h linguist-language=cpp
*.gd linguist-language=GDScript

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# The above only works properly for Git 2.10+, so for older versions
# we need to manually list the binary files we don't want modified.
*.dll binary
*.dylib binary
*.png binary
*.so binary
*.ttf binary
*.wasm binary
*.wav binary

# Files to exclude from asset-lib download.
/addons/gd-plug export-ignore
/default_env.tres export-ignore
/benchmark export-ignore
/.clang-format export-ignore
/docs export-ignore
/.env.example export-ignore
/examples export-ignore
/export_presets.cfg export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.gutconfig* export-ignore
/icon.png export-ignore
/icon.png.import export-ignore
/.import export-ignore
/Justfile export-ignore
/LICENSE.md export-ignore
/misc export-ignore
/plug.gd export-ignore
/plug.gd.uid export-ignore
/.plugged export-ignore
/.pre-commit-config.yaml export-ignore
/project.godot export-ignore
/README.md export-ignore
/requirements.txt export-ignore
/test export-ignore
/themes export-ignore
