[submodule "addons/godot_xterm/godot-cpp"]
	path = addons/godot_xterm/native/external/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "addons/godot_xterm/libtsm"]
	path = addons/godot_xterm/native/external/libtsm
	url = https://github.com/lihop/libtsm
