# Godot-specific ignores
.import/
export.cfg
export/

# Mono-specific ignores
.mono/
data_*/
mono_crash.*

# Python-specific ignores
.venv

# Emscripten-specific ignores
.emcache/

# IDE-specific ignores
.vscode
